
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.hero-section {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.25rem;
}



.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.btn {
    border-radius: 25px;
}


